ssh_keys = ["you@domain.com"]
hcloud_token = "your-api-token"
cluster_name = "k0s"
location = "hel1"
image = "ubuntu-18.04"
controller_type = "cx31"
controller_count = 1
worker_type = "cx31"
worker_count = 2